@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

*{margin:0; padding:0;}
li{list-style:none;}
a{color:inherit; text-decoration:none;}
html {scroll-behavior: smooth;}
body{background-color:#3CB5BF;  font-family: 'Unna', serif; padding-top:130px;}


::-webkit-scrollbar {
	width: 10px;/*스크롤바의 너비*/
}
::-webkit-scrollbar-thumb {
  background-color:paleturquoise;border-radius: 20px;background-clip: padding-box; border: 2px solid transparent; /*스크롤바의 색상*/
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);  /*스크롤바 트랙 색상*/
}


/* popup */
.popup{cursor:pointer;}
.popup_wrap1 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; left:0; z-index:9999; display:none; }
.popup_wrap1 .popup1 {width:500px; margin:0 auto;overflow:scroll; height:100%; overflow-x:hidden;}
.popup_wrap1 .popup1 img{width:500px;}

.popup_wrap2 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; left:0; z-index:9999; display:none; }
.popup_wrap2 .popup2 {width:500px; margin:0 auto;overflow:scroll; height:100%; overflow-x:hidden; }
.popup_wrap2 .popup2 img{width:500px; }

.popup_wrap3 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; left:0; z-index:9999; display:none; }
.popup_wrap3 .popup3 {width:500px; margin:0 auto;overflow:scroll; height:100%;overflow-x:hidden; }
.popup_wrap3 .popup3 img{width:500px;}

.popup_wrap4 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; z-index:9999; display:none; overflow: auto;}
.popup_wrap4 .popup4 { background-color:#fff; width:1300px; margin:0 auto; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.popup_wrap4 .popup4 ul{display:flex; width:1200px;flex-wrap: wrap; justify-content: center; margin:0 auto;}
.popup_wrap4 .popup4 ul li{padding:10px;}
.popup_wrap4 .popup4 ul li img{width:350px;}

.popup_wrap5 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; z-index:9999; display:none; overflow: auto;}
.popup_wrap5 .popup5 { background-color:#fff; width:1300px; margin:0 auto; margin-top:20px;position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.popup_wrap5 .popup5 ul{display:flex; width:1200px;flex-wrap: wrap; justify-content: center; margin:0 auto;}
.popup_wrap5 .popup5 ul li{padding:10px;}
.popup_wrap5 .popup5 ul li img{width:700px;}
.scrollLock {overflow: hidden;}

.popup_wrap6 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; z-index:9999; display:none; overflow: auto;}
.popup_wrap6 .popup6 { background-color:#fff; width:1300px; margin:0 auto; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.popup_wrap6 .popup6 ul{display:flex; width:1200px;flex-wrap: wrap; justify-content: center; margin:0 auto;}
.popup_wrap6 .popup6 ul li{padding:10px;}
.popup_wrap6 .popup6 ul li img{width:450px;}

.popup_wrap7 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; left:0; z-index:9999; display:none; }
.popup_wrap7 .popup7 {width:500px; margin:0 auto;overflow:scroll; overflow:hidden; }
.popup_wrap7 .popup7 img{width:500px; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); }

.popup_wrap8 {width:100%; height:100%;background-color:rgba(0, 0, 0,.5); position:fixed; top:0; left:0; z-index:9999; display:none; }
.popup_wrap8 .popup8 {width:500px; margin:0 auto;overflow:scroll; height:100%; overflow-x: hidden;}
.popup_wrap8 .popup8 img{width:500px;}

/* main video */

p {font-family: 'Noto Serif KR', serif;}

.inner{width:1200px; margin:0 auto;}

/* header */
header {width:100%; height:130px; background-color:rgba(211, 244, 255, 0.7); position:fixed; top:0; left:0; z-index:10;}
header .inner{display:flex; justify-content: space-between;}
header h1{width:200px; padding-top:25px; box-sizing:border-box;}
header h1 img{width:100px;}
header ul.gnb {width:700px; height:40px; display:flex;padding-top:90px;}
header ul.gnb li{width:140px; color:#023f4e; text-align:center; line-height:40px; transition:.3s; font-weight:700;}
header ul.gnb li a{width:140px;}
header ul.gnb li:hover{border-bottom: 4px solid #008ca5; color:#008ca5;}

/* name */
.name{position: absolute; left:50%; top:50%;transform:translate(-50%,-50%);}

.name h1{ font-size:130px;font-weight:bold; text-align:center;color:#ffffff; letter-spacing:0px; transition:.5s; -webkit-transition:.5s; -ms-transition:.5s; position: relative; padding:3px;
}
.name h1:before,
.name h1:after{
  content:"";
  position: absolute;
  height: 7px;
  width: 0px;
  background:#0077ff;
  transition:100ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

.name h1:before{bottom:0;}

.name h1:after{top:0; color:#fff;}

.name h1:hover{letter-spacing:30px; color:#008ca5;}

.name h1:hover:before, .name h1:hover:after{width: 95%;opacity:1;left:0;}
.name h2{
  color:#f1ffb5;
  text-align:center;
  font-size:50px;
  font-weight:100;
  bottom:40px;
  transition:1s;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.5;
  width: 100%;
}

/* main video */
.mainflex .bgvideo{width:100%;}
.mainflex .bgvideo video{position:fixed; bottom:0; left:0;width:auto; z-index:-1;min-width: 100%; min-height: 100%;}

/* button */
button {width:200px; height:40px; border:none; border-radius:10px; background-color:rgba(255, 255, 255, .5); transition:.5s; cursor:pointer;}
button:hover {background-color:#154b42; color:#fff; border:1px solid #fff;}



/* main */
main{width:100%;}
main .mainflex{margin:0 auto; height:800px; position:relative; overflow: hidden; box-sizing:border-box;}
main .mainflex img{width:350px; padding-left:38%; margin-top:50px;}

main .fig1{width:100%;padding-top: 100px; height:580px; background-color:#fff;}

main .fig1 .inner > h2{font-size:50px; text-align:center; padding-bottom:50px;}

main .fig1 .profile {display:flex;width:1200px; height:400px;}
main .fig1 .inner .profile .profileimg {width:300px; height:380px; background:url(../img/profile2.jpg) center/cover; margin-left:100px; }


main .fig1 .profile .sub_profile{width:570px; height:300px; margin:0 auto;display:flex; padding-left: 50px; justify-content: center; flex-wrap: wrap; padding-top:25px;}

main .fig1 .profile .sub_profile .profile1{width:220px; height:150px;}
main .fig1 .profile .sub_profile .profile1 h2{font-size:20px; font-weight:700; padding-bottom:20px;}

main .fig1 .profile .sub_profile .profile1 ul{display:flex;flex-direction: column;justify-content: space-between;}
main .fig1 .profile .sub_profile .profile1 ul li{width:220px; display:flex;}
main .fig1 .profile .sub_profile .profile1 ul li p {width:150px;}
main .fig1 .profile .sub_profile .profile1 ul li p:first-child {width:50px; font-weight:700;}

main .fig1 .profile .sub_profile .profile2{width:335px; height:150px; padding-left:15px; }
main .fig1 .profile .sub_profile .profile2 h2{font-size:20px; font-weight:700; padding-bottom:20px;}
main .fig1 .profile .sub_profile .profile2 ul{display:flex;flex-direction: column;justify-content: space-between; }
main .fig1 .profile .sub_profile .profile2 ul li{width:400px; display:flex;}
main .fig1 .profile .sub_profile .profile2 ul li p {width:200px;}
main .fig1 .profile .sub_profile .profile2 ul li p:first-child {width:50px; font-weight:700;}

main .fig1 .profile .sub_profile .profile2 ul li p:last-child {width:300px;}

main .fig1 .profile .sub_profile .profile3 {width:570px; height:150px; padding-top:10px;}
main .fig1 .profile .sub_profile .profile3 h2{font-size:20px; font-weight:700; padding-bottom:10px;}

main .fig5 {width:100%;background-color:#fff;}
main .fig5 .profile4 h2{font-size:50px; text-align:center; padding-bottom:50px; }
main .fig5 .profile4 >.skills{width:1200px;height:300px;display:flex; justify-content: space-between}

.pie-chart {
  position: relative;
  display:inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.3s;
}
span.center{
  background: #fff;
  display : block;
  position: absolute;
  top:50%; left:50%;
  width:100px; height:100px;
  border-radius: 50%;
  text-align:center; 
  line-height: 100px;
  font-size:20px;
  transform: translate(-50%, -50%);
}


main .fig2 {padding: 100px 0;background-color:#3CB5BF;}
main .fig2 h2 {font-size:50px; text-align:center; padding-bottom:50px;}
/* project 1 */
main .fig2 .project .project1 {width:100%;display:flex; padding:40px;justify-content: space-between; margin:0 auto;}

main .fig2 .project .project1 img{width:550px;}

main .fig2 .project .project1 .project1sm{width:550px;}

main .fig2 .project .project1 .project1sm > p{font-size:25px; font-weight:700;}
main .fig2 .project .project1 .project1sm ul{display:flex;flex-direction: column; }

main .fig2 .project .project1 .project1sm ul li{display:flex;}
main .fig2 .project .project1 .project1sm ul span{display:block; padding:20px 0;}
main .fig2 .project .project1 .project1sm ul {border-top:1px solid black; padding-top:10px;}
main .fig2 .project .project1 .project1sm ul li p:first-child{font-weight:700; width:100px}
main .fig2 .project .project1 .project1sm ul li span{font-family: 'Noto Serif KR', serif; font-size:14px;}

/* project 2 */
main .fig2 .project .project2 {width:100%;display:flex; padding:40px; justify-content: space-between; margin:0 auto;}

main .fig2 .project .project2 img{width:550px;}

main .fig2 .project .project2 .project2sm{width:550px;}

main .fig2 .project .project2 .project2sm>p{font-size:25px; font-weight:700;}
main .fig2 .project .project2 .project2sm ul{display:flex;flex-direction: column; }

main .fig2 .project .project2 .project2sm ul li{display:flex;}
main .fig2 .project .project2 .project2sm ul span{display:block; padding:20px 0;}
main .fig2 .project .project2 .project2sm ul {border-top:1px solid black; padding-top:10px;}
main .fig2 .project .project2 .project2sm ul li p:first-child{font-weight:700; width:100px}
main .fig2 .project .project2 .project2sm ul li span{font-family: 'Noto Serif KR', serif; font-size:14px;}

/* project 3 */
main .fig2 .project .project3 {width:100%;display:flex; padding:40px; justify-content: space-between; margin:0 auto;}

main .fig2 .project .project3 img{width:550px;}

main .fig2 .project .project3 .project3sm{width:550px;}

main .fig2 .project .project3 .project3sm>p{font-size:25px; font-weight:700;}
main .fig2 .project .project3 .project3sm ul{display:flex;flex-direction: column; }

main .fig2 .project .project3 .project3sm ul li{display:flex;}
main .fig2 .project .project3 .project3sm ul span{display:block; padding:20px 0;}
main .fig2 .project .project3 .project3sm ul {border-top:1px solid black; padding-top:10px;}
main .fig2 .project .project3 .project3sm ul li p:first-child{font-weight:700; width:100px}
main .fig2 .project .project3 .project3sm ul li span{font-family: 'Noto Serif KR', serif; font-size:14px;}


main .fig3{width:100%;padding: 130px 0 230px 0;background-color:#fff8b5;}
main .fig3 .inner > h2{font-size:50px; text-align:center; padding-bottom:50px;}

main .fig3 .inner .design .design_img ul{display:flex; width:1200px; flex-wrap: wrap;}
main .fig3 .inner .design .design_img ul li{cursor:pointer; margin:25px; border-radius:25px; transition:.5s;outline-offset:-10px;}
main .fig3 .inner .design .design_img ul li p{text-align:center; line-height:250px;font-size:20px; display:none; color:#fff; background-color:rgba(0, 0, 0, .5);}

main .fig3 .inner .design .design_img ul li:hover{outline:1px solid #ffffff;}
main .fig3 .inner .design .design_img ul li:hover p{display:block;border-radius:25px;}

main .fig3 .inner .design .design_img ul li.design1{width:250px; height:250px; background:url(../img/design1.png) center/cover; background-position: top;}

main .fig3 .inner .design .design_img ul li.design2{width:250px; height:250px; background:url(../img/design2.png) center/cover; background-position: top;}

main .fig3 .inner .design .design_img ul li.design3{width:250px; height:250px; background:url(../img/cardnews1.png) center/cover; background-position: top;}

main .fig3 .inner .design .design_img ul li.design4{width:250px; height:250px; background:url(../img/design3.png) center/cover; background-position: top;}

main .fig3 .inner .design .design_img ul li.design5{width:250px; height:250px; background:url(../img/bookbanner.png) center/cover; background-position: right;}

main .fig3 .inner .design .design_img ul li.design6{width:250px; height:250px; background:url(../img/cupang.png) center/cover; background-position: right;}

main .fig3 .inner .design .design_img ul li.design7{width:250px; height:250px; background:url(../img/sale.png) center/cover; background-position: top;}

main .fig3 .inner .design .design_img ul li.design8{width:250px; height:250px; background:url(../img/museum.png) center/cover; background-position: center;}

main .fig4{padding:150px 0; box-sizing:border-box;}
main .fig4 .circle {width:680px; height:680px; border-radius:50%;margin:0 auto; background-color:rgba(255, 255, 255,.8); position:relative;}
main .fig4 .circle .contact .profileimg{width:300px; height:380px; background:url(../img/profileimg01.jpg) center/cover; margin:0 auto;}

.b_circle{width:680px; height:680px; position:absolute; background-color:#3BBEA8; top:0; border-radius:50%; text-align:center; display:none; z-index:9;}
.b_circle h3{font-size:50px; color:#fff; top:50%; left:50%; transform: translate(-50%, -50%); position:absolute;}
/* .circle h2:hover + .b_circle{display:block;} */

main .fig4 .circle h2{font-size:50px; text-align:center;padding:40px 0 30px 0;}
main .fig4 .circle .contact .contact_text ul{display:flex; flex-direction: column; padding-top:30px;}
main .fig4 .circle .contact .contact_text ul li{width:280px; display:flex; padding:5px 0;  margin:0 auto;flex-wrap: wrap;}

main .fig4 .circle .contact .contact_text ul li:nth-child(2) p:first-child{padding-right:39px;}

main .fig4 .circle .contact .contact_text ul li p:first-child{font-weight:800; padding-right:30px;}



